// variables

$base: (
  "primary": #1b998b,
  "secondary": #747171,
  "success": #d8315b,
  "critical": #f37e43,

  "warning": #022b3a,
  "black": #101010,
  "background": #1e1e1e,
  "heading": #6247aa,
  "overlay": rgb(3 58 35 / 73%),
);

$text: (
  "primary": #f18f01,
  "secondary": #f7c5c5,
  "base": #514d6f,
  "disabled": #0fe4a0,
  "inverted": #ffffff,
  "critical": rgb(32 2 40 / 73%),
);

$surface: (
  "primary": #e4e5e7,
  "highlight": #a4e8f2,
  "success": #aee9d1,
  "warning": #ffd79d,
  "attention": #ffea8a,
  "critical": #fed3d1,
);

$border: (
  "primary": white,

  "secondary": #4f4f4f,
  "light": #e6e6e7,
);

$action: (
  "primary": (
    "default": #2c6ecb,
    "hovered": #1f5199,
    "pressed": #113e7e,
  ),
  "critical": (
    "default": #d82c0d,
    "hovered": #bc2200,
    "pressed": #a21b00,
  ),
  "success": (
    "default": #00b286,
    "hovered": #189576,
    "pressed": #0f765c,
  ),
  "inverted": (
    "default": #ffffff,
    "hovered": #f5f5f5,
    "pressed": #e7e7e7,
  ),
);

// Color pallete
$white: #ffffff;
$black: #000000;
$teal: #3180a9;
$orange: #ff8144;
$green: #5b9540;
$purple: #a259f4;
$red: #d82c0d;
$blue: #2c6ecb;

// Black variants
$black100: #1f2021;
$black200: #212121;
$black300: #353535;
$black400: #515151;

// Grey variants
$grey100: #a1a1a1;
$grey200: #d1d1d1;
$grey300: #efefef;
$grey400: #f8f8f8;
$graylite: #798692;

// Primary variants
$primary100: #2c6ecb;
$primary200: #417cd0;
$primary300: #568bd5;
$primary400: #6b99da;
$primary500: #80a8df;

$defaultBorderColor: #e1e1e1;
$lightBorderColor: #f1f1f1;
$darkBorderColor: #a1a1a1;
$backgroundColor: #f5f6fa;
$defaultTextColor: #353535;
$lightTextColor: #9ea7ca;
$highlightColor: #ffb17a;

// TEXT COLORS
$defaulttextcolor: #555555;
$lighttextcolor: #707070;
$secondarytextcolor: #989898;

// BORDER COLORS
$defaultborder: #e1e1e1;

// FONT SIZES
$fontSizes: (
  0: 0,
  0_5: 8px,
  1: 10px,
  1_5: 11px,
  2: 12px,
  3: 14px,
  4: 16px,
  5: 18px,
  6: 20px,
  6_5: 22px,
  7: 24px,
  7_5: 26px,
  8: 32px,
  8_25: 36px,
  8_5: 38px,
  9: 48px,
  10: 64px,
  11: 72px,
  "smalls": 16px,
  "mediums": 18px,
  "larges": 20px,
  "extraLarge": 22px,
  "mobileSmall": 18px,
  "mobileMedium": 20px,
  "mobileLarge": 22px,
  "mobileExtraLarge": 22px,
  "largeSmall": 44px,
  "largeMedium": 62px,
  "largeLarge": 58px,
  "largeExtraLarge": 80px,
);
// Font sizes
// $large_heading: 32px;
// $heading_one: 24px; // Bold
// $heading_two: 20px; // Bold
// $text: 16px; // Medium for Links/Text/SubHeaing, Regular

// FONT WEIGHTS
$fontWeights: (
  thin: 100,
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900,
);

// LINE HEIGHTS
$lineHeights: (
  compact: 1.2,
  heading: 1.33,
  default: 1.5,
  cosy: 2,
);

// SPACE
$space: (
  0: 0,
  0_5: 2px,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  9: 36px,
  10: 40px,
  11: 44px,
  12: 48px,
  13: 52px,
  14: 56px,
  15: 60px,
  16: 64px,
  17: 128px,
);

// BORDER RADIUS
$radius: (
  default: 4px,
  container: 8px,
  circle: 50%,
);

// DEFAULT WIDTH
$default_width: 85%;

$button: (
  "success": #02c39a,
  "danger": #ff0a54,
);

// $breakpoints: (
//   "xs": "max-width:575.98px",
//   "xmd": "max-width:900px",
//   "sm": "(min-width:576px) and (max-width:767.98px)",
//   "md": "(min-width:768px) and (max-width:991.98px)",
//   "lg": "(min-width:992px) and (max-width:1199.98px)",
//   "xl": "(min-width:1200px) and (max-width:1399.98pxpx)",
//   "xxl": "min-width:1400px",
// );

$breakpoints: (
  "xxxs": "max-width:324",
  "xxs": "max-width:380px",
  "xxmd": "max-width:560px",
  "xs": "max-width:575.98px",
  "sm": "max-width:768px",
  "xmd": "max-width:991.98px",
  "lg": "(min-width:992px) and (max-width:1199.98px)",
  "xls": "(min-width:1200px) and (max-width:1399.98px)",
  "xxl": "min-width:1400px",
);
